<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dynamic Dragon - Story Time</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="icon" type="image/x-icon" href="https://cdn.glitch.global/13401054-3cb4-42ce-a2f4-c544422355d2/Coolify Logo.png?v=1734552065217">
    <link rel="stylesheet" href="/static/styles/styles.css" />
  </head>
  <body>
    <!-- Navigation bar section -->
    <nav>
      <div class="leftNav">
        <!-- Logo section with clickable image linking to the homepage -->
        <div class="logoIMG">
          <a href="/">
            <img
              src="https://cdn.glitch.global/13401054-3cb4-42ce-a2f4-c544422355d2/Coolify Logo.png?v=1734552065217"
              alt="Dynamic Dragon Logo"
              id="logo"
            />
          </a>
        </div>
        <!-- Logo text displayed next to the image -->
        <h2 id="logoTxt">Dynamic Dragon</h2>
      </div>

      <!-- Navigation links -->
      <ul>
        <li>
          <a data-value="AI Playground" class="active" id="active" href="/load"
            >AI Playground</a
          >
        </li>
        <li><a href="/">Technology</a></li>
        <li><a href="/">Contact</a></li>
      </ul>
    </nav>
    <section>
        <h1 style="margin-top: 100px;">Full Story</h1>
        <div class="txtA exit_story">
            <textarea
              style="background-color: rgba(72, 150, 228, 0.25);"
              readonly
              rows="25"
              cols="105"
            >{{full_story}}</textarea>
        </div>
    </section>
  </body>
</html>
