<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <title>Redirecting...</title>
</head>
<script>
    window.onload = function() {
        // similar behavior as clicking on a link
        window.location.href = "/generate";
    }
</script>
<body class="loaderContainer">
    <div class="spinner"></div>
    <h1 class="redirectText">Creating Your Personalized Story...</h1>
</body>
</html>