@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* Defining color and font variables for consistent styling */
  --primary: #222222; /* Main background color */
  --secondary: #ffffff; /* Main text color */
  --tertiary1: #4896e4; /* Gradient color 1 */
  --tertiary2: #c5677d; /* Gradient color 2 */
  --font1: "Chakra Petch", sans-serif; /* Primary font */
  --font2: "Space Mono", serif; /* Secondary font */
}

html {
  /* Setting base styles for the entire document */
  background-color: var(--primary);
  max-width: 100%; /* Prevent horizontal scrolling */
  overflow-x: hidden;
  scroll-behavior: smooth; /* Enable smooth scrolling */
}

section {
  width: 90%;
  margin: 40px auto; /* Center sections with margin */
}

header {
  /* Styling for the header section */
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 85px;
  z-index: -1; /* Push header behind other elements */
  align-items: center;
}

hr {
  margin: 50px; /* Space around horizontal rules */
}

.bgImg {
  /* Background image styling */
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure image covers entire area */
  opacity: 0.2; /* Make the image semi-transparent */
}

h1 {
  /* Main heading styling */
  font-family: var(--font1);
  font-size: 3vw;
  color: var(--secondary);
}

h4 {
  /* Subheading styling */
  font-family: var(--font1);
  font-size: 2vw;
  color: var(--secondary);
  margin: 0; /* Remove default margin */
}

h3 {
  /* Typing effect heading styling */
  font-family: var(--font1);
  font-size: 3vw;
  /*     box-shadow: 0 0 20px var(--secondary); */
  background-image: linear-gradient(
    to right,
    var(--tertiary1),
    var(--tertiary2)
  );
  color: transparent;
  background-clip: text; /* Clip text to gradient background */
  z-index: 1;

  animation: typing 7s steps(22) infinite, blinking 0.75s infinite alternate;
  white-space: nowrap; /* Prevent text from wrapping */
  border-right: 3px solid white; /* Cursor effect for typing animation */
}

@keyframes typing {
  /* Defining the typing animation */
  0% {
    width: 0;
  }
  15% {
    width: 31%;
  }
  80% {
    width: 31%;
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes blinking {
  /* Blinking cursor animation */
  50% {
    border-color: transparent;
  }
}

@keyframes rotate {
  /* Rotation animation for the blob element */
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

#blob {
  /* Styling for the rotating blob effect */
  background-color: white;
  height: 500px;
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%; /* Center the blob */
  border-radius: 50%; /* Make the blob circular */
  animation: rotate 20s infinite; /* Apply infinite rotation */
  filter: blur(300px); /* Apply a blur effect */
}

.tryNow {
  /* Button styling */
  z-index: 1;
  text-decoration: none;
  font-family: var(--font1), serif;
  color: var(--secondary);
  width: max-content;
  background-image: linear-gradient(
    to right,
    var(--tertiary1),
    var(--tertiary2)
  );
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 100px;
}

.tryNow:hover {
  cursor: pointer;
  transform: scale(1.2); /* Enlarge on hover */
  background-color: transparent;
  text-decoration: underline;
  transition: 0.2s; /* Smooth hover transition */
}

.abtUsContainer {
  /* Layout for the About Us section */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

.aboutUsImg {
  width: 150vw;
}
.aboutUsImg img {
  width: 100%;
  border-radius: 200vw; /* Circular image */
}

p {
  /* Paragraph styling */
  font-family: var(--font2);
  font-size: 1.5vw;
  color: var(--secondary);
  text-align: justify;
}

.teamMembers {
  /* Team member profile layout */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profiles {
  display: flex;
  flex-direction: column;
}

.profiles img {
  width: 20vw;
  aspect-ratio: 1; /* Maintain a square aspect ratio */
  object-fit: cover;
  margin: auto;
  border-radius: 20vw;
}

.btsElems p {
  width: 70%;
}

p:not(.btsElems p) {
  margin: 40px;
}

.btsElems {
  /* Layout for behind-the-scenes elements */
  display: flex;
  justify-content: space-between;
}

.logoGrid {
  /* Grid layout for logos */
  margin: 20px;
  display: grid;
  gap: 40px;
  grid-template-areas:
    "a b"
    "c d";
}

.logo img {
  width: 6vw;
  border-radius: 10px;
}

.logo:nth-child(1) {
  grid-area: a;
}

.logo:nth-child(2) {
  grid-area: b;
}

.logo:nth-child(3) {
  grid-area: c;
}

.logo:nth-child(4) {
  grid-area: d;
}

.logo:nth-child(1) img,
.logo:nth-child(3) img {
  margin-top: 3vw;
}

.contactContainer {
  /* Contact information layout */
  display: grid;
  gap: 40px;
  grid-template-areas:
    "a b"
    "c d";
}

.email {
  grid-area: a;
}

.phone {
  grid-area: b;
}

.address {
  grid-area: c;
}

.map {
  grid-area: d;
}

iframe {
  /* Styling for embedded maps or content */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}

nav {
  /* Navigation bar styling */
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(255 255 255 / 5%); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect behind nav */
  border-radius: 0px 0px 50px 50px;
  width: 100%;
  height: 80px;
}

#logo {
  width: 55px;
}

#logoTxt {
  padding-left: 20px;
  font-weight: 600;
}

h2 {
  /* Secondary heading styling */
  font-family: var(--font1);
  font-weight: 400;
  font-size: 37px;
  text-align: center;
  background-image: linear-gradient(45deg, #4896e4 0%, #c5677d 80%);
  color: transparent;
  background-clip: text;
}

.leftNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}

nav ul {
  /* Unordered list styling for navigation */
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  padding-right: 50px;
  font-size: 16px;
}

nav li {
  font-family: var(--font1);
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 20px;
}

nav li a {
  text-decoration: none;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 10px 25px;
  border-radius: 100px;
}

.active {
  background-image: linear-gradient(45deg, #4896e4, #c5677d);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  color: #ffffff;
  font-weight: 700;
}

.active:hover {
  scale: 1.1;
  transform-origin: center;
  transition: 0.5s;
}

.storyOptions {
  /* Layout for story options */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storyButtons {
  flex: 1.1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genStory {
  flex: 1;
  margin-top: 40px;
}

h5 {
  font-family: var(--font1);
  font-weight: 400;
  font-size: 3vw;
  color: var(--tertiary1);
}

button {
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  font-family: var(--font2);
  font-weight: 400;
  color: var(--secondary);
  font-size: 20px;
}

.blue {
  background-color: var(--tertiary1);
}

.red {
  background-color: var(--tertiary2);
}

.gray {
  background-color: rgba(255, 255, 255, 0.2);
}

.txtA {
  margin: auto;
  display: flex;
}

.storyWindow {
  width: 90%;
}

textarea {
  resize: none;
  background-color: rgba(197, 103, 125, 0.25);
  padding: 25px;
  border: none;
  border-radius: 15px;
  font-family: var(--font2);
  font-weight: 400;
  font-size: 19px;
  color: var(--secondary);
}

input {
  display: none; /* Hide the input elements to style their associated labels */
}

input + label {
  /* Styling for labels associated with hidden input elements */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the label */
  background-image: linear-gradient(45deg, #4896e4, #c5677d);
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply; /* Blend the background color and image for a layered effect */
  padding: 20px; /* Add space inside the label */
  border-radius: 10px; /* Round the label's corners */
  color: var(--secondary); /* Set text color */
  font-family: var(--font2); /* Use the secondary font */
  display: flex;
  align-items: center;
}

label a {
  text-decoration: none;
  color: var(--secondary);
}

input:hover + label {
  /* Change the label styling when the input is checked */
  background-color: var(--primary);
}

#options_list {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2vw;
}

.toggleStory {
  padding: 20px;
  margin: 30px 0;
  cursor: pointer;
  font-family: var(--font2);
  font-weight: 400;
  color: var(--secondary);
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

input,
button {
  cursor: pointer;
}

input:hover,
button:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.loaderContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color: white transparent white transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

.exit_story {
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}